@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --pink-background:#FFF9F7;
    --text-color:#7F7C7B;
    --dark-gray:#705e59;
}
body, #App {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 93%;
    width: 100%;
    margin: 0 auto;
}
.container-pink{
    background-color: var(--pink-background);
}
.bg-pink-background {
    background-color: var(--pink-background);
}
.cormorant-bold {
    font-family: 'Cormorant Upright', serif;
    font-weight: 600; /* Adjust for bold style */
  }
.subheading{
 color:var(--dark-gray);
 font-size:24px;
 text-transform: uppercase;
}
.textSmall{
    color:var(--dark-gray);
    font-size:13px;
}
.heading{
    font-weight: 300;
    color:black;
    font-size:35px;
    text-transform: capitalize;
}
button{
    text-transform: capitalize;
    border: 1px solid transparent;
    padding: 1em 3em;
    outline: none;
    text-wrap: nowrap;
    border:none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.25s;
}
button:hover{
  transform: scale(1.1);
}
.dark-gray-background{
    background-color:var(--dark-gray)
}

.custom-pagination {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  /* Default pagination dot style */
  .custom-pagination .swiper-pagination-bullet {
    background-color: var(--dark-gray);
    width: 12px;
    height: 12px;
    opacity: 1;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Active pagination dot style */
  .custom-pagination .swiper-pagination-bullet-active {
    background-color: white;
    border: 2px solid var(--text-color);
  }

.custom-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem; 
  position: relative;
  margin-right: 3rem;
  margin-top: 3rem;
}

.custom-navigation button {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    /* transition: background-color 0.3s ease, border-color 0.3s ease; */
  }
  
  .custom-navigation button:hover:not(.disabled) {
    border-color: rgba(0, 0, 0, 0.8);
  }
  
  .custom-navigation button.disabled {
    background-color: #f9f9f9;
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
  }
  @media (max-width: 768px) {
    .custom-navigation {
        margin-right:1.5rem;
        margin-top:1rem;
    }
}