/* ------------------Rooms------------------ */
.room-grid-images{
    height:15.54rem;
}

/* ------------------Stay With Us------------------ */

.stayUsSection .subheading {
    color: rgba(255, 255, 255, 0.85); 
  }
  
  .stayUsSection .heading {
    color: rgba(255, 255, 255, 0.85); 
  }
  
  .stayUsSection .textSmall {
    color: rgba(255, 255, 255, 0.7); 
  }
  
/* ----------------Services--------------- */
.tab-default {
  border: 1px solid #ccc; 
}

.tab-active {
  border: 2px solid var(--dark-gray); 
}
@media (max-width: 768px) {

    /* ------------------Rooms------------------ */
    .room-grid-single-column img {
        height: auto;
    }
  }