/* ------------------HomePage Rooms--------------------------*/

.room-grid-images{
    height:15.54rem;
}

/* ------------------Stay With Us------------------ */

.stayUsSection .subheading {
    color: rgba(255, 255, 255, 0.85); 
  }
  
  .stayUsSection .heading {
    color: rgba(255, 255, 255, 0.85); 
  }
  
  .stayUsSection .textSmall {
    color: rgba(255, 255, 255, 0.7); 
  }
  
/* ------------------Services------------------------ */

.tab-default {
  border: 1px solid #ccc; 
}

.tab-active {
  border: 2px solid var(--dark-gray); 
}

/* ------------------Navbar--------------------------*/
.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-link:hover::before {
  width: 100%;
}

/* -----------------HomeAbout------------------- */

.lineHeight{
  line-height: 2.3;
}
/* -----------------HeroSection------------------- */
.heroCheck-in{
  color:var(--dark-gray);
    font-size:13px;
}
/* -----------------hotel Rooms------------------- */

.rooms-prev.disabled,
.rooms-next.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.tab {
  position: relative;
}

.tab::before {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0; 
  height: 2px; 
  background-color: white; 
  opacity: 0; 
  transition: opacity 0.5s ease, width 0.5s ease; 
}

.tab:hover::before {
  opacity: 1; 
  width: 100%; 
}

.tab.active::before {
  opacity: 1; 
  width: 100%; 
}
.room-details{
  width:40%;
}
.room-selection-details{
  width:25%;
  flex-direction: column;
  display:flex;
}
.roomAdult{
  border:none;
}
.roomAdult::placeholder{
  font-size:14px;
  color:rgb(191,191,191);
}
@media (max-width: 768px) {

    /* ------------------HomePageRooms------------------ */

    .room-grid-single-column img {
        height: auto;
    }
    
    /* -----------------HomeAbout------------------- */

   .lineHeight{
       line-height: 2;
    }
    /* -----------------hotel Rooms------------------- */

     .room-details{
      width:100%;
    }
    .room-selection-details{
      width:100%;
      flex-direction:row;
      justify-content: space-between
      ;
    }
  }